.footer{
    background:$color-secondary;
    grid-column: full-start/full-end;
    padding: 8rem;

    @media only screen and (max-width:$px575) {
        padding: 5rem 8rem 5rem 8rem;

    }

    .nav {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-gap: 2rem;
        align-items: center;

        &__link {

            &:link,
            &:visited {
                font-size: 1.4rem;
                font-family: $font-display;
                text-transform: uppercase;
                color: #fff;
                text-decoration: none;
                padding: 1.5rem;
                text-align: center;
                display: block;
                transition: all .2s;

                &:hover {
                    background: rgba(#fff, .05);
                    transform: translateY(-5px);
                }
            }

        }
    }

    .copyright {
        font-size: 1.4rem;
        color: $color-grey-light-2;
        margin-top: 6rem;
        text-align: center;
        width: 70%;
        margin-right: auto;
        margin-left: auto;

        @media only screen and (max-width:$px575) {
            width: 100%;

        }

    }

} 








